<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><a>Github Search</a></h1>
    <p class="lead">You may never know what you're looking for till you find it!</p>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/searchusers">Search Users </a>
          </li>
         
        </ul>
        
      </div>
    </nav>

  </div>
</div>