.search{
  margin-bottom: 20px;
}
.btn-search{
  border-radius: 20px;
}
.myForm{
  text-align: center;
}
.mysearch{
  margin-right: 10px;
  border-radius: 30px;
  border-color: darkgray;
  width:80%;
  margin-left: 5%;
}
.placeholder{
  background-color: aliceblue;
  border-radius: 5px;
}
.btn-profile{
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: white;
}
.btn-profile a{
  color: white;
}
.repoinfo{
  background-color: azure;
  border-radius: 10px;
}
.tablerepos{
  width:100%;
  border:solid white 2px;
  border-radius: 10px;
}
.t-header, .t-data{
  padding:10px;
  color:white;
  font-size: 20px;
  border:solid white 2px;
}
.t-header{
  background-color: rgb(95, 125, 140);
  border-radius: 10px;
}
.t-data{
  background-color: rgb(238, 238, 238);
  color:rgb(95, 125, 140);
}
.t-data a{
  color:rgb(95, 125, 140);
  text-decoration: none;;
}
.t-data a:hover{
  cursor: pointer;
}